@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
}

.flexCtr {
    display: flex;
    align-items: center;
    justify-content: center;
}
#scoreElm {

}
#scoreBoard {
    position: absolute;
    z-index: 10;
    color: aqua;
    left: auto;
    top: 43rem;
    /* margin: 0; */
    font-family: 'VT323', monospace;
    font-size: 2rem;
    font-stretch: expanded;

}
canvas {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
